<div class="issue-block">
	<div class="wrapper">
		<%= image_tag(issue.cover.thumb_ext, class: 'left') %>
		<div class="right description">
			<h2>Данная статья опубликована в журнале Event.ru <%= issue.to_s %></h2>
			<p class="p1">
				Этот материал доступен целиком только подписчикам нашего журнала.
				Вы можете <%= link_to "оформить подписку", new_subscription_path, class: 'subscribe-link' %>
				и иметь доступ к полному архиву и электронной версии журнала.
			</p>
			<p class="p2">
				А также, при желании, Вы можете выбрать расширенный пакет подписки
				и получать печатную версию журнала каждые 2 месяца, с помощью
				курьерской доставки.
			</p>
			<p class="p3">
				Если вы уже оформили подписку, пожалуйста <%= link_to "авторизуйтесь", '#', class: 'login-link' %>.
			</p>
		</div>
		<div class="clear"></div>
	</div>
</div>