<div id="<%= input_html_options[:id] %>-toolbar" class="active_admin_editor_toolbar">

  <a data-wysihtml5-action="change_view"><span>Код</span></a>
  <a data-wysihtml5-command="bold" title="Bold"><span>Жирный</span></a>
  <a data-wysihtml5-command="italic" title="Italic"><span>Наклонный</span></a>
  <a data-wysihtml5-command="createLink" title="Link"><span>Ссылка</span></a>
  <a data-wysihtml5-command="insertImage" class="insertImage" title="Image"><span>Изображение</span></a>
  <a data-wysihtml5-command="insertUnorderedList" title="Unordered list"><span>Список с пунктами</span></a>
  <a data-wysihtml5-command="insertOrderedList" title="Ordered list"><span>Нумерованный список</span></a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a>
  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">h3</a>
  <br><br>
  <a data-wysihtml5-command="insertVideo" title="Video from YouTube"><span>Видео с YouTube</span></a>
  <% if object.kind_of? Article %>
    <a data-wysihtml5-command="insertGallery" title="Gallery"><span>Новая галлерея</span></a>
    <a class="gallery-edit-link" style="display:none"><span>Редактировать выделенную галлерею</span></a>
  <% end %>
  
  <% if input_html_options[:quicksave] %>
    <a class="button quicksave" href="#">Сохранить</a>
  <% end %>

  <div data-wysihtml5-dialog="insertVideo" style="display: none">
    <label>
      Ссылка с YouTube:
      <input data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <div class="action-group">
      <a data-wysihtml5-dialog-action="save" class="button">ОК</a>
      <a data-wysihtml5-dialog-action="cancel">Отмена</a>
    </div>
  </div>

  <div data-wysihtml5-dialog="createLink" style="display: none">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <div class="action-group">
      <a data-wysihtml5-dialog-action="save" class="button">ОК</a>
      <a data-wysihtml5-dialog-action="cancel">Отмена</a>
    </div>
  </div>
  
  <div data-wysihtml5-dialog="insertImage" style="display: none">
    <div id="asset_uploader">
      <noscript>
        <a href="/admin/image_assets/new">Загрузить &raquo;</a>
      </noscript>
    </div>
    <label>
      Изображение:
      <input data-wysihtml5-dialog-field="src" value="http://" />
    </label>
    <div class="assets_container">
    </div>
    <div class="asset_scale_selection">
      <label>Масштаб:</label>
      <label>
        100%
        <input data-scale="full" type="radio" name="asset_scale" checked="checked" />
      </label>
      <label>
        75%
        <input data-scale="three_quarters" type="radio" name="asset_scale" />
      </label>
      <label>
        50%
        <input data-scale="half" type="radio" name="asset_scale" />
      </label>
      <label>
        25%
        <input data-scale="one_quarter" type="radio" name="asset_scale" />
      </label>
    </div>
    <label>
      Расположение:
      <select data-wysihtml5-dialog-field="className">
        <option value="">default</option>
        <option value="wysiwyg-float-left">left</option>
        <option value="wysiwyg-float-right">right</option>
      </select>
    </label>
    <div class="action-group">
      <a data-wysihtml5-dialog-action="save" class="button">ОК</a>
      <a data-wysihtml5-dialog-action="cancel">Отмена</a>
    </div>
  </div>
  
</div>