<div id="right-column" class="right">
	<% unless display_banners? %>
	<div class="frame adriver-frame">
		<div class="frame-title">Реклама</div>
		<!--  AdRiver code START. Type:240x400 Site: Event.ru PZ: 2 BN: 1 -->
		<script language="javascript" type="text/javascript"><!--
		var RndNum4NoCash = Math.round(Math.random() * 1000000000);
		var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
		document.write(
		'<iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?'
		+ 'sid=189350&bn=1&target=blank&bt=22&pz=2&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
		+ '" frameborder=0 vspace=0 hspace=0 width=240 height=400 marginwidth=0'
		+ ' marginheight=0 scrolling=no></iframe>');
		//--></script>
		<noscript>
		<a href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=189350&bn=1&bt=22&pz=2&rnd=95580656" target=_blank>
		<img src="http://ad.adriver.ru/cgi-bin/rle.cgi?sid=189350&bn=1&bt=22&pz=2&rnd=95580656" alt="-AdRiver-" border=0 width=240 height=400></a>
		</noscript>
		<!--  AdRiver code END  -->
	</div>
	<% end %>

	<div class="frame facebook-frame">
	  <div class="frame-title">Быть в курсе</div>
	  <div class="fb-like-box" data-href="http://www.facebook.com/WelcomeToEvent.ru" data-width="240" data-height="379" data-show-faces="true" data-stream="false" data-header="false"></div>
	</div>

	<% if poll = Poll.unvoted_poll_for(current_user) %>
	<div class="frame" id="poll-aside">
		<%= render 'polls/aside', poll: poll %>
	</div>
	<% elsif poll = Poll.newer_started.first %>
	<div class="frame" id="poll-aside">
		<%= render 'polls/aside_result', poll: poll %>
	</div>
	<% end %>

	<%= render 'shared/weather' %>

	<% unless display_banners? %>
	<div class="frame adriver-frame">
		<div class="frame-title">Реклама</div>
		<!--  AdRiver code START. Type:240x400 Site: Event.ru PZ: 2 BN: 2 -->
		<script language="javascript" type="text/javascript"><!--
		var RndNum4NoCash = Math.round(Math.random() * 1000000000);
		var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
		document.write(
		'<iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?'
		+ 'sid=189350&bn=2&target=blank&bt=22&pz=2&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
		+ '" frameborder=0 vspace=0 hspace=0 width=240 height=400 marginwidth=0'
		+ ' marginheight=0 scrolling=no></iframe>');
		//--></script>
		<noscript>
		<a href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=189350&bn=2&bt=22&pz=2&rnd=2109884522" target=_blank>
		<img src="http://ad.adriver.ru/cgi-bin/rle.cgi?sid=189350&bn=2&bt=22&pz=2&rnd=2109884522" alt="-AdRiver-" border=0 width=240 height=400></a>
		</noscript>

		<!--  AdRiver code END  -->
	</div>

	<div class="frame adriver-frame">
		<div class="frame-title">Реклама</div>
		<!--  AdRiver code START. Type:240x400 Site: Event.ru PZ: 2 BN: 3 -->
		<script language="javascript" type="text/javascript"><!--
		var RndNum4NoCash = Math.round(Math.random() * 1000000000);
		var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
		document.write(
		'<iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?'
		+ 'sid=189350&bn=3&target=blank&bt=22&pz=2&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
		+ '" frameborder=0 vspace=0 hspace=0 width=240 height=400 marginwidth=0'
		+ ' marginheight=0 scrolling=no></iframe>');
		//--></script>
		<noscript>
		<a href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=189350&bn=3&bt=22&pz=2&rnd=705015148" target=_blank>
		<img src="http://ad.adriver.ru/cgi-bin/rle.cgi?sid=189350&bn=3&bt=22&pz=2&rnd=705015148" alt="-AdRiver-" border=0 width=240 height=400></a>
		</noscript>

		<!--  AdRiver code END  -->
	</div>
	<% end %>

</div>
