 <div id="top-menu">
	<div id="dialog-overlay"></div>
	<div id="menu-nav-list">
		<%= link_to image_tag(asset_path('menu_logo.png')), root_path, class: 'menu-nav-item left menu-logo' %>

		<div class="right menu-right">
			<% if @config = SiteConfig.first and @config.top_menu['items'].present? %>
				<% @config.top_menu['items'].each do |item| %>
					<%= link_to item['title'], url_from_menu_item(item), class: ['menu-nav-item', (current_menu_item?(item) ? 'active' : '')].join(' ') %>
				<% end %>
			<% else %>
				<!-- need to set up site config -->
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
</div>

