 <div id="top-menu">
	<div id="dialog-overlay"></div>
	<div id="menu-nav-list">
		<%= link_to image_tag(asset_path('menu_logo.png')), root_path, class: 'menu-nav-item left menu-logo' %>

		<div class="right menu-right">
			<% if config = SiteConfig.first and config.top_menu['items'].present? %>
				<% config.top_menu['items'].each do |item| %>
				<div class="menu-nav-item">
					<%= link_to item['item']['title'], url_from_menu_item(item['item']), class: (current_menu_item?(item['item']) ? 'active' : '') %>
					<% if item['children'] and item['children'].any? %>
						<div class="children hidden">
							<% item['children'].each do |item| %>
								<%= link_to item['item']['title'], url_from_menu_item(item['item']), class: 'menu-nav-item' %>
							<% end %>
						</div>
					<% end %>
				</div>
				<% end %>
			<% else %>
				<!-- need to set up site config -->
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
</div>

