<% content_for :without_aside do %>
	<div id="subscription-notice">
		<h1 class="stupid-regush-specific-style">Поздравляем вас, оплата прошла успешно!</h1>
		<div id="subscription-content">
			<% unless current_user %>
			<p>
				На ваш e-mail отправлено письмо с ссылкой активации.
				Для успешной регистрации пройдите по ней.
			</p>
			<% end %>
			<p>
				<%= link_to "Вернуться назад", (cookies[:subscription_back_url] || root_path) %>
			</p>
		</div>
	</div>
<% end %>