<div class="article-gallery-control">
	<% unless @gallery.title.blank? %>
		<h2><%= @gallery.title %></h2>
	<% end %>
	<div class="article-gallery-pagination">
		<%= link_to ''.html_safe, '#', class: 'page-left' %>
		<span class="pages-text">X из X</span>
		<%= link_to '', '#', class: 'page-right' %>
	</div>
</div>
<div class="article-gallery-carousel">
	<ul>
		<% @gallery.images.each do |body_image| %>
			<li><%= image_tag(body_image.source) %></li>
		<% end %>
	</ul>
</div>