<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте!</h1>

    <p>Чтобы активировать вашу учётную запись проследуйте по ссылке: <%= link_to nil, activate_user_url(token: @user.activation_token) %></p>
  </body>
</html>