<p>Пользователь <%= link_to user.name, user.social_url %> указал этот
эту почту как свою собственную.</p>

<p>Если это были вы, то проследуйте по ссылке чтобы привязать эту учётную запись
к социальной сети: <%= link_to nil, merge_url(token: user.merge_token) %></p>

<p>Если пользователь (<%= link_to user.name, user.social_url %>) к вам не
имеет никакого отношения, то просто проигнорируйте это письмо.</p>