<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте!</h1>

    <p>Чтобы сбросить ваш пароль проследуйте по ссылке: <%= link_to nil, edit_password_reset_url(id: @user.reset_password_token) %></p>
  </body>
</html>