@import "compass/css3/border-radius";

a {
	color: $purple-color;
	text-decoration: none;
}

@mixin content-block {
	p {
		margin: 1.5em 0;
	}
	
	@include serif;
	font-size: 12pt;
	line-height: 1.3;

	b, strong {
		font-weight: bold;
	}

	em, i {
		font-style: oblique;
	}

	h1, h2, h3 {
		font-weight: bold;
		@include sans-serif;
		margin: 1em 0;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}
}


@mixin page-title {
	color: $text-color;
	font-size: 42px;
	@include sans-serif;
	font-weight: bold;
	margin-bottom: 16px;
	padding-bottom: 16px;
	display: block;
	border-bottom: 1px solid $grey-border-color;
}


#top-menu {
	background-color: $menu-bg-color;
	color: $menu-fg-color;
	border-bottom: 1px solid $menu-outline-color;

	position: fixed;
	width: 100%;
	top: 0;

	z-index: 3;

	#menu-nav-list {
		width: 960px;
		height: 48px;
		margin: 0 auto;

		.menu-nav-item {
			display: inline-block;
			height: 48px;
			line-height: 48px;
			margin-right: 1.2em;
			color: $menu-fg-color;
			font-size: 13px;
			@include menu-item-typography;
		}

		.menu-nav-item:hover, .menu-nav-item.active {
			color: $purple-color;
		}

		.menu-right :last-child {
			margin-right: 0;
		}

		.menu-logo {
			margin-right: 40px;
		}
	}
}

#header {
	height: 120px;
	margin-top: 50px;

	#utmost-left-block {
		width: 150px;
		margin-top: 40px;

		.city-name {
			color: $weather-city-fg-color;
			@include sans-serif;
			font-size: 10pt;
			line-height: 28px;	
		}

		.temperature {
			@include sans-serif;
			font-size: 10pt;
			font-style: oblique;
			color: $purple-color;
			line-height: 28px;
		}

		.current-time {
			@include sans-serif2;
			font-size: 10pt;
			line-height: 20px;
			color: $purple-color;
			height: 20px;
			width: 110px;
		}

		.current-date {
			@include serif;
			font-size: 10pt;
			font-weight: bold;
			.week-day {
				font-weight: normal;
			}
		}
	}

	#left-block {
		width: 160px;
		margin-top: 35px;
		position: relative;
		left: 23px; // temporary, until weather block is fixed

		a { text-decoration: none; }
		.actual-today {
			@include sans-serif;
			text-transform: uppercase;
			font-size: 10pt;
			line-height: 1.5em;
			color: $purple-color;
		}
		p {
			@include sans-serif;
			font-size: 10pt;
			font-size: 13px;
			color: $text-color;
		}
	}

	#logo {
		display: block;
		margin: 0 auto;
		width: 252px;
	}

	#right-block {
		width: 140px;
		position: relative;
		right: 21px;
		top: 36px;

		@include sans-serif2;
		font-size: 10pt;
		text-transform: uppercase;
		line-height: 1.3em;
		.issue-link {
			text-decoration: none;
			display: block;
			color: $purple-color;
		}

		.subscribe-link {
			font-weight: normal;
			text-decoration: underline;
			display: block;
			font-size: 8pt;
			color: $header-subscribe-fg-color;
		}
		.subscribe-link:hover {
			color: $purple-color;
		}
	}

	#utmost-right-block {
		margin-top: 36px;
		width: 170px;

		#search-form {
			border: 1px solid $grey-border-color;
			padding: 1px 3px;
			@include border-radius(5px, 5px);

			input[name=query] {
				width: 130px;
				height: 21px;
				margin-top: 2px;
				padding: 0;
				border: none;
				outline: none;
			}

			input[type=submit] {
				width: 21px;
				height: 21px;
				margin: 3px auto;
				padding: 0;
				border: none;
				background-color: white;
				background-image: asset-url("search_button.png", image);
			}
		}
	}
}

#top-banner {
	display: block;
	margin: 0 auto;
	margin-bottom: 21px;
	width: 950px;
	height: 90px;
	overflow: hidden;

	> iframe {
		margin-left: -10px;
	}
}

$fixed-top-margin: 112px;

.subscribe-aside-link {
	display: block;
	position: fixed;
	margin-left: 960px;
	margin-top: $fixed-top-margin + 44px;
}

#left-banner {
	position: fixed;
	width: 100px;
	height: 100px;
	margin-top: $fixed-top-margin + 55px;
	margin-left: -140px;
	z-index: 1;
}

#left-social-line {
	position: fixed;
	margin-left: -38px;
	margin-top: $fixed-top-margin + 65px;
	padding: 0px 5px;
	background-color: $social-share-bg-color;
	border: 1px solid $social-share-border-color;

	a {
		margin: 11px 0;
		display: block;
		width: 18px;
		height: 18px;
	}

	.fb, .vk, .twitter, .gplus, .mailru {
		background-repeat: no-repeat;
	}

	.fb {
		background: asset-url("left_social_icons.png", image) 0 0;
	}

	.vk {
		background: asset-url("left_social_icons.png", image) -18px 0;
	}

	.twitter {
		background: asset-url("left_social_icons.png", image) -36px 0;
	}

	.gplus {
	}

	.mailru {
		background: asset-url("left_social_icons.png", image) -54px 0;
	}

}

#main-column {
	margin: 0 auto;
	margin-top: 50px;
	width: 960px;
	min-height: 500px;

	#left-column {
		width: 640px;

		> h1 {
			@include page-title;
		}
	}

	#right-column {
		width: 290px;
	}
}

.center-container {
	width: 960px;
	margin: 0 auto;
}

#wide-footer {
	background-color: $wide-footer-bg-color;
	color: $wide-footer-fg-color;

	.bottom-pagination {
		height: 52px;

		li {
			min-width: 22px;
			text-align: center;
			@include sans-serif;
			float: left;

			margin-top: -10px;
			padding-top: 30px;
			margin-left: 33px;
			margin-right: 33px;
			margin-bottom: 0;
			
			font-size: 24pt;
			color: $wide-footer-pagination-fg-color;

			a {
				color: $wide-footer-pagination-fg-color;
			}

			a:hover {
				color: $purple-color;
			}
		}

		li.current {
			color: $purple-color;
			background-image: asset-url("pagination_bullet.png", image);
			background-repeat: no-repeat;
		}
	}

	.reports {
		padding-top: 15px;
		
		h2 {
			@include sans-serif;
			text-transform: uppercase;
			line-height: 2em;
			a { color: white; }
			a:hover { color: $purple-color; }
		}

		.list {
			margin-bottom: 25px;
		}

		.list :first-child {
			margin-left: 0;
		}

		.item {
			width: 216px;
			margin-left: 28px;

			img {
				display: block;
				border: 1px solid $wide-footer-fg-color;
			}

			.report-link {
				@include serif;
				display: block;
				margin-top: 10px;
				font-weight: bold;
				font-size: 14px;
				text-decoration: none;
				color: $wide-footer-fg-color;
			}
		}

		.item:hover {
			img {
				border: 1px solid $purple-color;
			}

			.report-link {
				color: $purple-color;
			}
		}
	}

	.line {
		height: 3px;
		background-color: $wide-footer-line-color;
		margin: 7px 0;
	}

	.bottom-menu {
		width: 230px;
		margin-bottom: 10px;

		a {
			@include sans-serif;
			font-size: 12pt;
			color: $wide-footer-fg-color;
			text-decoration: none;
			line-height: 2em;
			display: block;
		}

		a:hover {
			color: $purple-color;
		}
	}

	.bottom-description {
		width: 730px;

		h2 {
			@include sans-serif;
			font-size: 21px;
			width: 155px;
			height: 68px;
			margin-top: 10px;
			display: inline-block;
		}

		p {
			@include sans-serif;
			font-size: 10pt;
			margin: 1em 0;
		}

		.conf, .box, .tv, .umbrella, .fest {
			display: block;
			background-repeat: no-repeat;
			margin-right: 12px;
		}

		.conf {
			background-image: asset-url("projects/conf.png", image);
			width: 114px;
			height: 60px;
		}

		.box {
			background-image: asset-url("projects/ek_w.png", image);
			width: 60px;
			height: 60px;
		}
		.box:hover {
			background-image: asset-url("projects/ek_a.png", image);
		}

		.tv {
			background-image: asset-url("projects/tv.png", image);
			width: 144px;
			height: 60px;
		}

		.umbrella {
			background-image: asset-url("projects/event_w.png", image);
			width: 103px;
			height: 60px;
		}
		.umbrella:hover {
			background-image: asset-url("projects/event_a.png", image);
		}

		.fest {
			background-image: asset-url("projects/fest.png", image);
			width: 91px;
			height: 60px;
		}

		// temporary, according to EVENT-121
		.umbrella, .box {
			visibility: hidden;
		}
	}
}

#tight-footer {
	background-color: $tight-footer-bg-color;
	color: $tight-footer-fg-color;
	height: 60px;
	overflow: hidden;

	.bottom-sponsor-description {
		@include sans-serif;
		text-align: center;
		line-height: 60px;
		font-size: 13px;
	}

	#bottom-banner {
		height: 60px;
	}
}