$text-color: #000;
$grey-text-color: #6f6f6f;
$form-label-text-color: #b4b4b4;
$light-grey-text-color: #bdbdbd;
$grey-link-text-color: #7f7f7f;
$tag-text-color: #c0c0c0;

$remove-comment-bg-color: darken(white, 5);

$closed-article-issue-bg-color: #a6a6a6;

$error-bg-color: #ffafae;
$error-fg-color: #ab2d2e;
$error-border-color: #cd7f7f;

$purple-color: #ed335a;
$purple-color2: #e74051;
$blue-color: #0134cd;
$dark-purple-color: #b62e55;

$menu-bg-color: #191919;
$menu-fg-color: #fff;
$menu-outline-color: #ebebeb;

$profile-avatar-border-color: #bbbfc0;

$profile-gender-bg-color: #f4f4f4;
$profile-gender-active-bg-color: #e6e6e6;
$profile-gender-border-color: #d3d3d3;

$wide-footer-bg-color: #000;
$wide-footer-fg-color: white;
$wide-footer-line-color: #e4e4e4;
$wide-footer-pagination-fg-color: #a7a7a7;

$tight-footer-bg-color: #c32748;
$tight-footer-fg-color: white;

$weather-city-fg-color: #5b92d7;

$header-subscribe-fg-color: #a5a5a5;
$header-grey-color: #888;
$header-grey-color2: #c5c5c5;

$carousel-bg-color: #f1f1f1;
$carousel-border-color: #a5a5a5;

$video-block-bg-color: #f1f1f1;
$video-header-bg-color: #eb2f57;
$video-header-fg-color: white;

$grey-border-color: #d3d3d3;
$grey2-border-color: #e3e3e3;
$light-grey-border-color: #f1f1f1;
$profile-avatar-grey-border-color: #d1d1d1;

$poll-result-left-border-color: #878787;
$poll-result-bottom-border-color: #bfbfbf;
$poll-graph-inactive-color: #dadada;
$poll-graph-active-color: #ed335a;
$poll-aside-header-fg-color: #696969;
$poll-aside-button-bg-color: #7f7f7f;

$afisha-purple-line-color: #ec2f57;
$afisha-day-text-color: #a5a5a5;

$social-share-border-color: #dcdcdc;
$social-share-bg-color: #f6f6f6;
$social-share-fg-color: #8a8a8a;