#reset-password-fields {
	$left-offset: 170px;

	.field {
		margin-bottom: 20px;

		label {
			display: inline-block;
			width: $left-offset;

			.star {
				color: red;
			}

			@include sans-serif;
			color: $form-label-text-color;
			font-style: oblique;
			font-size: 13px;
			height: 26px;
		}

		input[type=text], input[type=password] {
			@include form-text-field;
			width: 200px;
		}

		.errors {
			margin-left: $left-offset + 10px;
			@include sans-serif;
			color: $purple-color;
			font-size: 12px;
		}
	}

	input[type=submit] {
		margin-left: $left-offset;
		width: 140px;
		@include button;
	}
}