// to easily change typeface later
@mixin sans-serif {
	font-family: "Sathu", Helvetica, "Arial", sans-serif;
}

@mixin sans-serif2 {
	font-family: "Calibri", Helvetica, "Arial", sans-serif;
}

@mixin serif {
	font-family: "Times New Roman", "Georgia", serif;
}

// articles
@mixin article-carousel-header {
	font-weight: bold;
	text-decoration: none;
	@include sans-serif;
}
// articles end

// menu
@mixin menu-item-typography {
	text-transform: uppercase;
	text-decoration: none;
	@include sans-serif;
}
// menu end

@mixin datetime-text-typography {
	@include sans-serif2;
	font-size: 12px;
}

@mixin dialog-title-typography {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	@include sans-serif;
}